.buy > div{
    /* display: inline-block; */
    /* border: red 1px solid; */
    box-sizing: border-box;
    float: left;
    margin: 1%;
    padding: 1%;
}
.buy{
    padding:0 10px;
    padding-top:80px;
}
.buy > div:first-child{
    background: white
}
.buy > .link{
    /* height: 500px;
    padding-top: 0 !important; */
    /* position: relative;
    top:0;
    bottom: 0;
    right: 0; */
    /* display: flex;
    flex-direction: column; */
}
i{
    clear: both;
    display: block;
    height: 0;
}
button{
    font-weight: 600;
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    color:#cd8d45;
    background: white;
}
button .mat-icon{
    font-size: 56px;
    width: 80px;
    height: 56px;
    color:#cd8d45
    
}
button img{
    display: block;
    width: 80px;
}


/* SVG */

.stKIOSK {
    clip-path: url(#SVGID_KIOSK_2);
    fill: #808285;
}
button:hover .stKIOSK{
    fill:#cd8d45
}