<mat-list class="Group-name-box-box">
    <mat-list-item> 
        <div class='Group-name-box'>
            <span class='Group-name'>Group name</span>
            <span class='Group-name'>Group1</span>
        </div>
    </mat-list-item>
    
</mat-list>
<div>
    <div class='group-top'>
        <mat-grid-list cols="5" rowHeight="1:1">
            <mat-grid-tile>
                
                <div class='group-top-img'>
                    <img src='https://i.stack.imgur.com/isckt.jpg?s=32&g=1'>
                    <span>11</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                
                <div class='group-top-img'>
                    <img src='https://i.stack.imgur.com/isckt.jpg?s=32&g=1'>
                    <span>11</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                
                <div class='group-top-img'>
                    <img src='https://i.stack.imgur.com/isckt.jpg?s=32&g=1'>
                    <span>11</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                
                <div class='group-top-img'>
                    <img src='https://i.stack.imgur.com/isckt.jpg?s=32&g=1'>
                    <span>11</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                
                <div class='group-top-img'>
                    <img src='https://i.stack.imgur.com/isckt.jpg?s=32&g=1'>
                    <span>11</span>
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile>
            <svg class="icon" width="50%" height="50%" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path fill="#3f51b5" d="M880.15737 447.719128H575.934072V143.49583c0-35.915501-29.109546-65.025048-65.025048-65.025048s-65.025048 29.109546-65.025047 65.025048v304.223298H141.660679a65.025048 65.025048 0 0 0 0 130.050095h304.223298v304.223298c0 35.915501 29.109546 65.025048 65.025047 65.025048s65.025048-29.109546 65.025048-65.025048V577.769223h304.216073a65.025048 65.025048 0 0 0 65.025047-65.025047 65.010598 65.010598 0 0 0-65.017822-65.025048z"
                />
            </svg>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div>
    <mat-list>
        <mat-list-item> 
            <button mat-raised-button color="warn">Leave This Group</button>
        </mat-list-item>
    </mat-list>
    </div>
</div>