<div class="window">
    <mat-grid-list cols="12" rowHeight={{height}}>
        <mat-grid-tile [colspan]='2' class="window-left" style.height="{{height}}">
            <menu-component></menu-component>
            <company-news></company-news>
        </mat-grid-tile>
        <mat-grid-tile [colspan]='10' class="window-right" style.height="{{height}}">
            <div style="width: 100%;">
                <router-outlet></router-outlet>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
