<div class="op143">
  <div class='border'>

    <mat-card class="example-card">
      <mat-toolbar class="op143-title">SHARE COMPANY TICKET
        <button mat-raised-button>Information</button>
      </mat-toolbar>
      <div class="title mat-card-header">
        Existing TGK Member
      </div>

      <div class="op143-input">
        <mat-form-field class=" op143-input-width">
          <input matInput placeholder="Enter their ticket number">
        </mat-form-field>
        <button mat-raised-button color="accent">Share</button>
      </div>

      <div class="title mat-card-header">
        New TGK Member
      </div>

      <div class="op143-input">
        <mat-form-field class=" op143-input-width">
          <input matInput placeholder="Enter their email">
        </mat-form-field>
        <button mat-raised-button color="accent">Share</button>
      </div>

      <div class='border-bottom'>

      </div>



      <mat-toolbar class="op143-title">
         SHARE YOUR TICKET
      </mat-toolbar>
      <div class="title mat-card-header">
       Existing TGK Member
      </div>

      <div class="op143-input">
        <mat-form-field class=" op143-input-width">
          <input matInput placeholder="Enter their ticket number">
        </mat-form-field>
        <button mat-raised-button color="accent">Share</button>
      </div>

      <div class="title mat-card-header">
        New TGK Member
      </div>

      <div class="op143-input">
        <mat-form-field class=" op143-input-width">
          <input matInput placeholder="Enter their email">
        </mat-form-field>
        <button mat-raised-button color="accent">Share</button>
      </div>

    </mat-card>
  </div>
  <div>

  </div>
</div>