<div class="">
    <div class="">
        <button mat-raised-button>
            <a routerLink="/messages">BACK
            </a>
        </button>

    </div>

    <div class='company'>
        <div class='company-logo' style='margin:20px 30px; background:url("https://ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=71f6f27f2c7f9e2f6f351b082f31e962/500fd9f9d72a6059f550a1832334349b023bbae3.jpg") no-repeat  top'>
        </div>
    </div>
    <div>
        <div>
            <mat-tab-group>
                <mat-tab label="Info">
                    <div class="company-container">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Company Name" value="Shinetech">
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput placeholder="Address 1">Level 5, 7 Eden Drive Road, Macquarie Park, North Ryde, NSW 2148</textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput placeholder="Address 2">Level 5, 7 Eden Drive Road, Macquarie Park, North Ryde, NSW 2148</textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput placeholder="Address 3">Level 5, 7 Eden Drive Road, Macquarie Park, North Ryde, NSW 2148</textarea>
                        </mat-form-field>
                        <div class="rowDirection">
                            <mat-form-field class="half-width">
                                <input matInput type="text" placeholder="Country" value="China">
                            </mat-form-field>
                            <mat-form-field class="half-width">
                                <input matInput type="text" placeholder="ABN" value="Test ABN">
                            </mat-form-field>
                        </div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="ZIP" value="10000">
                        </mat-form-field>
                    </div>
               
                    <div class="teamDiv">
                        <div class="rowDirection">
                            <span class="teamTitle">TEAM</span>
                            <span>
                                <button mat-mini-fab color="primary">
                                    <a routerLink="/newGroupStep1">
                                        <svg class="icon" width="24px" height="24px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="white" d="M880.15737 447.719128H575.934072V143.49583c0-35.915501-29.109546-65.025048-65.025048-65.025048s-65.025048 29.109546-65.025047 65.025048v304.223298H141.660679a65.025048 65.025048 0 0 0 0 130.050095h304.223298v304.223298c0 35.915501 29.109546 65.025048 65.025047 65.025048s65.025048-29.109546 65.025048-65.025048V577.769223h304.216073a65.025048 65.025048 0 0 0 65.025047-65.025047 65.010598 65.010598 0 0 0-65.017822-65.025048z"
                                            />
                                        </svg>
                                    </a>

                                </button>
                            </span>
                        </div>

                        <div>
                            <mat-form-field class="serch-width">
                                <input matInput placeholder="SEARCH" (keyup)="serchChange($event)">
                            </mat-form-field>
                        </div>

                        <mat-list>
                            <div *ngFor="let user of users" class='step1-list-show'>
                                <mat-list-item>
                                    <div class='step1-list'>
                                        <img src="{{user.imagepath}}">
                                        <div>{{user.username}}</div>
                                    </div>
                                </mat-list-item>
                            </div>
                        </mat-list>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
</div>