<div class="warp" style='margin-top:100px'>
    <mat-grid-list cols="12" rowHeight={{height}}>

        <mat-grid-tile [colspan]="3" rowHeight='100px'>
            <div class="warp-left">
                <mat-grid-list cols="9" rowHeight='100px'>

                    <mat-grid-tile [colspan]="3" rowHeight='100px'>
                        <div class="warp-left bottom-border">
                            <mat-icon>shopping_cart</mat-icon>
                            <p>Buy</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3">
                        <div class="warp-left bottom-border">
                            <mat-icon>speaker_notes</mat-icon>
                            <p>Messages</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3">
                        <div class="warp-left bottom-border">
                            <mat-icon>thumb_up</mat-icon>
                            <p>Sell</p>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="warp-logo bottom-border">

                </div>
                <div class="warp-new bottom-border">

                </div>
            </div>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="9">
            <div class="warp-left">
                <mat-grid-list cols="12" rowHeight='100px' style='background:white'>

                    <mat-grid-tile [colspan]="2" rowHeight='100px'>
                        <div class="warp-left bottom-border goback">
                            <mat-icon>trending_flat</mat-icon>

                        </div>

                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <div class="warp-left bottom-border">
                            <mat-icon>perm_identity_black</mat-icon>
                            <p>Profile</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <div class="warp-left bottom-border">
                            <mat-icon>supervisor_account</mat-icon>
                            <p>Connections</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <div class="warp-left bottom-border">
                            <mat-icon>trending_up</mat-icon>
                            <p>Share Ticket</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <div class="warp-left bottom-border last-p" >
                            <p>Customers</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <div class="warp-left bottom-border last-p">
                            <p>Suppliers</p>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>