<div class="message-window">
    <mat-grid-list cols="24" rowHeight={{height}}>
        <mat-grid-tile [colspan]='7' class="message-window-left">
            <div style='width:100%;'>
                <offers-messages-component></offers-messages-component>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]='17' class="window-buy-right">
            <div style='width:100%;'>
                <offers-sent></offers-sent>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>