<div class="menu">
    <div class="logo">
        <img src="http://img2.imgtn.bdimg.com/it/u=3509004173,840437551&fm=27&gp=0.jpg"
            alt="">
        <div>
            <p>Welcome Charlie</p>
            <div>
                <a href="#">
                    <mat-icon class="input">ic_create</mat-icon>
                    Edt Profile
                </a>
            </div>
        </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of data">
            <mat-expansion-panel-header class="nav">
                <mat-panel-title>
                    <mat-icon>account_circle</mat-icon>
                    <span>{{item.title}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div id="nav-children" class="nav-children">
                <a *ngFor="let chl of item.children" routerLink="{{chl.url}}" routerLinkActive="active">
                <button mat-button >
                        {{chl.title}}
                    </button>
                </a>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>