<div class="menu">
    <div class="logo">
        <img src="https://headpic.lrts.me/chensongwusheng?imageMogr/v2/auto-orient/thumbnail/180x180&e=1524636000&token=OOHK9_MIwdSJxAHYi5os2taDVS13CVvcEa1cZDb9:2UpXh1Et6v-S0_j0eU7X-1iitLs="
            alt="">
        <div>
            <p>Welcome Charlie</p>
            <div>
                <a href="#">
                    <mat-icon class="input">ic_create</mat-icon>
                    Edt Profile
                </a>
            </div>
        </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of data">

            <mat-expansion-panel-header class="nav">
                <mat-panel-title>
                    <mat-icon>account_circle</mat-icon>
                    <span>{{item.title}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div id="nav-children" class="nav-children">
                <button mat-button *ngFor="let chl of item.children">
                    <a routerLink="window/message" routerLinkActive="active">
                        {{chl.title}}
                    </a>
                </button>

            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>