.mat-expansion-panel-header-title{
 color:white;
 font-size: 1.3em;
 /* line-height: 98px; */
}
.nav{
    border-bottom: 1px solid #717076
}
.news{
    padding: 1em 24px
}
.news b{
    color:#cd8d45;
    font-size: 1.3em
}

.mat-expansion-panel-header-title span{
    text-indent:0.5em
}
.nav-children button {
    /* display: block; */
    width: 100%;
    display: block;
    line-height: 3.058em;
    border-bottom: 1px solid #717171;
    font-size: 1.5em;
    text-align:left;
    padding:0 24px;
    color:#5c5c5c;
    background: #ffffff;
}
.mat-expansion-panel-spacing {
    margin: 0 !important;
}
.nav-children a{
    color:#5c5c5c;
    text-decoration: none;
}
.menu{
    width: 100%;
    background: #5c5c5c;
}

.nav-children button.active, button.cdk-focused{
    background: #cd8d45!important;
    color:white!important;
}
.logo {
    display: flex;
    /* height: 8.717em; */
    padding: 1.3485em 1.6em;
}
.logo img{
    width: 6.02em;
    height:6.02em;
    border-radius: 50%;
}
.logo div{
    flex-grow: 2;
}
.logo div p{
    padding:1em 0 0.5em 0;
    color:#cd8d45 ;
    margin-left: 1em;
    font-size: 20px;
    font-weight: 600;
}
.logo div a{
    color:white ;
    margin-left: 1em;
    font-size: 16px;
    text-decoration: none;
}
.input{
    text-indent: -72px;
}