<div class="menu">
    <div class="news">
        <b>Company News</b>
        <mat-list role="list">
            <mat-list-item role="listitem ">
                <mat-icon>chevron_right</mat-icon>
                <a href="#none">here are some company news</a>
            </mat-list-item>
            <mat-list-item role="listitem ">
                <mat-icon>chevron_right</mat-icon>
                <a href="#none">here are some company news</a>
            </mat-list-item>
            <mat-list-item role="listitem ">
                <mat-icon>chevron_right</mat-icon>
                <a href="#none">here are some company news</a>
            </mat-list-item>
            <mat-list-item role="listitem ">
                <mat-icon>chevron_right</mat-icon>
                <a href="#none">here are some company news</a>
            </mat-list-item>
            <mat-list-item role="listitem ">
                <div class="read-more">
                    <a href="#none">Read more articles</a>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>