<div class="warp" style='margin-top:100px'>
    <mat-grid-list cols="12" rowHeight={{height}}>

        <mat-grid-tile [colspan]="3" rowHeight='100px'>
            <div class="warp-left">
                <mat-grid-list class='bottom-border warp-left-btn' cols="9" rowHeight='100px'>

                    <mat-grid-tile [colspan]="3" rowHeight='100px'>
                        <button mat-button class="warp-left  mat-button">
                            <a routerLink="/Op30buy" routerLinkActive="active">
                                <span class="mat-button-wrapper">
                                    <div class="mat-icon material-icons" role="img" aria-hidden="true">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 37.7 34" style="enable-background:new 0 0 37.7 34;" xml:space="preserve">
                                            <g>
                                                <defs>
                                                    <rect id="SVGID_1_" y="0" width="37.7" height="34" />
                                                </defs>
                                                <clipPath id="SVGID_2_">
                                                    <use xlink:href="#SVGID_1_" style="overflow:visible;" />
                                                </clipPath>
                                                <path class="st0" d="M32.7,30c0-1.7-1.4-3-3-3c-1.7,0-3,1.4-3,3c0,1.7,1.4,3,3,3C31.3,33,32.7,31.7,32.7,30z M16.3,30
                                                                		c0-1.7-1.4-3-3-3s-3,1.4-3,3c0,1.7,1.4,3,3,3S16.3,31.7,16.3,30z M30.3,27.1H13.3 M6.4,6.3h30l-4.7,13.3l-19.9,2.9 M0.1,0.9
                                                                		l4.7,0.3l1.7,5.2L13.1,27" />
                                            </g>
                                        </svg>
                                    </div>
                                    <p>Buy</p>
                                </span>
                                <p>Buy</p>
                            </a>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3">
                        <button mat-button class="warp-left ">
                            <a routerLink="/messages" routerLinkActive="active">
                                <div class="mat-icon material-icons" role="img" aria-hidden="true">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 44.7 38" style="enable-background:new 0 0 44.7 38;" xml:space="preserve">
                                        <rect x="11.3" y="12.7" class="st1-Messages" width="5.6" height="5.6" />
                                        <rect x="19.3" y="12.7" class="st1-Messages" width="5.6" height="5.6" />
                                        <rect x="27.7" y="12.7" class="st1-Messages" width="5.6" height="5.6" />
                                        <g>
                                            <defs>
                                                <rect id="SVGID_3_" y="0" width="44.7" height="38" />
                                            </defs>
                                            <clipPath id="SVGID_4_">
                                                <use xlink:href="#SVGID_3_" style="overflow:visible;" />
                                            </clipPath>
                                            <polygon class="st2" points="43.8,0.9 0.8,0.9 0.8,29.4 5,29.4 5.1,35.9 11.6,29.4 43.8,29.4" />
                                        </g>
                                    </svg>

                                </div>
                                <p>Messages</p>
                            </a>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3">

                        <button mat-button class="warp-left ">
                            <a routerLink="/Op10sell" routerLinkActive="active">
                                <div class="mat-icon material-icons" role="img" aria-hidden="true">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 53.6 33.9" style="enable-background:new 0 0 53.6 33.9;" xml:space="preserve">
                                        <g>
                                            <defs>
                                                <rect id="SVGID_1_SELL" y="0" width="53.6" height="33.9" />
                                            </defs>
                                            <clipPath id="SVGID_2_SELL">
                                                <use xlink:href="#SVGID_1_SELL" style="overflow:visible;" />
                                            </clipPath>
                                            <path class="st0SELL" d="M8.2,13.4v16.8c1.7,0.4,2.2-0.1,2.2-1.8c-0.1-4.4,0-8.8,0-13.2C10.4,13.3,10.4,13.3,8.2,13.4 M6.6,30.7V13.4
                                    		H1.8c-1.2,5.8,0,11.1,2.7,16.1C4.8,30,5.7,30.2,6.6,30.7 M11.7,15.3c0,3.7,0,7.1,0,10.6c0,1.1,0.4,1.5,1.3,1.8
                                    		c4.3,1.3,8.6,2.7,12.8,4.2c3.7,1.3,7.1,0.7,10.4-1c4.5-2.4,9.1-4.8,13.6-7.2c0.7-0.4,1.3-0.8,1.8-1.3c0.3-0.3,0.5-1,0.4-1.4
                                    		c-0.1-0.3-0.8-0.5-1.2-0.6c-0.6,0-1.3,0.1-1.9,0.3c-2.9,1-5.9,2-8.8,3c-0.5,0.2-0.9,0.5-1.4,0.7c-1,0.4-2.1,1-3.1,1
                                    		c-3.4,0.1-6.9,0-10.3,0c-0.4,0-0.8,0.1-1.1-0.1c-0.3-0.1-0.7-0.4-0.6-0.6c0.1-0.3,0.4-0.6,0.6-0.7c0.4-0.1,0.8-0.1,1.3-0.1
                                    		c3.4,0,6.9,0,10.3,0c1.7,0,2.6-0.7,2.5-2c0-1.3-0.9-1.9-2.6-2c-2.2,0-4.4,0-6.6,0c-0.6,0-1.2-0.1-1.6-0.4
                                    		C23,15.6,17.6,15,11.7,15.3 M40,22.4c2.9-1,5.7-2,8.4-2.9c0.6-0.2,1.1-0.4,1.7-0.5c1.3-0.2,2.5,0.1,3.2,1.3
                                    		c0.7,1.3,0.2,2.6-0.9,3.2c-6.5,3.7-12.8,8-20.1,10.1c-1.8,0.5-4,0.3-5.8-0.2c-4.9-1.3-9.7-3-14.5-4.5c-0.6,2.7-0.7,2.8-3.4,2.8
                                    		c-0.3,0-0.7-0.1-1,0c-2.8,0.6-4.1-0.8-5.1-3.2c-2-4.9-2.9-9.8-1.9-15C0.6,12.4,1,12,2.1,12c2.3,0.1,4.6,0.1,6.9,0
                                    		c1.5,0,2.5,0.4,2.8,1.9c3.8-0.3,7.5-0.1,11,1.3c1.6,0.7,3.2,1.5,4.6,2.5c1,0.7,1.9,1.1,3.1,1c1.6-0.1,3.2,0,4.8,0
                                    		C38.3,18.8,39,19.3,40,22.4" />
                                            <path class="st1" d="M31.1,9.2c0-4.7,3.8-8.4,8.4-8.4c4.7,0,8.4,3.8,8.4,8.4s-3.8,8.4-8.4,8.4C34.9,17.6,31.1,13.9,31.1,9.2z"
                                            />
                                            <g class="st2SELL">
                                                <text transform="matrix(1 0 0 1 36.0693 13.248)" class="st3SELL st4SELL st5SELL">$</text>
                                            </g>
                                        </g>
                                    </svg>

                                </div>
                                <p>Sell</p>
                            </a>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="warp-logo">
                    <img src="../../assets/logo.png" alt="logo">
                </div>
                <div class="warp-new top-border">
                    <b>Company News</b>
                    <mat-list role="list">
                        <mat-list-item role="listitem ">
                            <mat-icon>rss_feed</mat-icon>
                            <a href="#">here are some company news</a>
                        </mat-list-item>
                        <mat-list-item role="listitem ">
                            <mat-icon>rss_feed</mat-icon>
                            <a href="#">here are some company news</a>
                        </mat-list-item>
                        <mat-list-item role="listitem ">
                            <mat-icon>rss_feed</mat-icon>
                            <a href="#">here are some company news</a>
                        </mat-list-item>
                        <mat-list-item role="listitem ">
                            <mat-icon>rss_feed</mat-icon>
                            <a href="#">here are some company news</a>
                        </mat-list-item>

                    </mat-list>
                </div>
            </div>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="9">
            <div class="warp-left warp-right">
                <mat-grid-list cols="12" class='bottom-border' rowHeight='100px' style='background:white'>

                    <mat-grid-tile [colspan]="2" rowHeight='100px'>
                        <button mat-button class="warp-left goback" (click)="onBackClick()">
                            <mat-icon>reply_black</mat-icon>
                        </button>

                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <a routerLink="/personalProfile/1" routerLinkActive="active">
                            <button mat-button class="warp-left">
                                <mat-icon>perm_identity_black</mat-icon>
                                <p>Profile</p>
                            </button>
                        </a>

                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <a routerLink="/Op55newOffer" routerLinkActive="active">
                            <button mat-button class="warp-left">
                                <mat-icon>supervisor_account</mat-icon>
                                <p>Connections</p>
                            </button>
                        </a>
                        
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <a routerLink="/op143share" routerLinkActive="active">
                            <button mat-button class="warp-left">
                            <mat-icon>trending_up</mat-icon>
                            <p>Share Ticket</p>
                            </button>
                        </a>
                  
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <button mat-button class="warp-left last-p">
                            <p>Customers</p>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <button mat-button class="warp-left last-p">
                            <p>Suppliers</p>
                        </button>
                    </mat-grid-tile>

                </mat-grid-list>
                <div class="router-warp">
                    <router-outlet></router-outlet>
                    
                </div>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>