<div class="message-window">
    <mat-grid-list cols="24" rowHeight={{height}}>
        <mat-grid-tile [colspan]='8' class="message-window-left">
            <div style='width:100%;'>

                <div class="messages" [style.height]='height'>
                    <div class="step">
                        <div class="step1">
                            <button mat-raised-button>
                                <a routerLink="/messages">CANCEL
                                </a>
                            </button>
                            <button mat-raised-button color="primary" (click)="onNextClick()">
                                NEXT
                            </button>
                        </div>
                        <div class="example-container">
                            <mat-form-field class="serch-width">
                                <input matInput placeholder="SEARCH" (keyup)="serchChange($event)">
                            </mat-form-field>
                        </div>
                    
                        <mat-selection-list>
                            <div *ngFor="let user of users" class='step1-list-show'>
                                <mat-list-option value="{{user.id}}">
                                    <div class='step1-list'>
                                        <img src="{{user.imagepath}}">
                                        <div>{{user.name}}</div>
                                    </div>
                                </mat-list-option>
                            </div>
                        </mat-selection-list>
                    
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]='16' class="message-window-right">
            <div style='width:100%;'>
                <div class="messages" [style.height]='height'>
                    <app-new-group-step2 [userlist]="obs$"></app-new-group-step2>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>