<div class="step">
  <div class="step1">
    <button mat-raised-button>
      <a routerLink="/messages">CANCEL
      </a>
    </button>
    <button mat-raised-button color="primary">
      <a routerLink="/newGroupStep2" class='color'>
        NEXT
      </a>
    </button>
  </div>
  <div class="example-container">
    <mat-form-field class="serch-width">
      <input matInput placeholder="SEARCH" (keyup)="serchChange($event)">
    </mat-form-field>
  </div>

  <mat-selection-list>
    <div *ngFor="let user of users" class='step1-list-show'>
      <mat-list-option value="{{user.id}}">
        <div class='step1-list'>
          <img src="{{user.imagepath}}">
          <div>{{user.username}}</div>
        </div>
      </mat-list-option>
    </div>
  </mat-selection-list>

</div>