.message-box{
    position: relative;
    background: #e0e1d1;
    
}
.message-box .input-chat{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.input-chat .message-input{
    width: 96%;
    padding:0 2%;
    background: white;

}
.input-chat {
    padding:10px 0 0 0;
    background: white;
}
.input-chat .mat-input-wrapper.mat-form-field-wrapper{
    padding:0;
}
.chat-list{
    padding: 10px 4em;
    position: relative;
    padding-top:5em;
}
.chat-list .she,.chat-list .me{
    width: 48%;
    background: white;
    position: relative;
}
.chat-list  p{
    padding: 10px 16px;
}

.chat-list .she:before{
    content: ' ';
    position: absolute;
    display: block;
    width: 0; 
    height: 0; 
    left: -1.5em;
    border-top: 1.4em solid white; 
    border-left: 2em solid transparent; 
}
.chat-list .me{
    margin-left:52%!important;
}
.chat-list .me::before{
    content: ' ';
    position: absolute;
    display: block;
    width: 0; 
    height: 0; 
    width: 0; 
    right: -1.5em;
    border-top: 1.4em solid white; 
    border-right: 2em solid transparent; 

}
.chat-list .me{
    margin-left:50%;  
}
