.message-warp{
    display: flex;
    flex-direction: column;
}
.mat-toolbar.mat-toolbar-single-row{
    height: 40px;
    font-size: 18px;
    /* flex-direction:row-reverse
     */
     justify-content: space-between;
}
.message{
    position: relative;
    top:0;
    width: 100%;
    left:0px;
    display: block;
}
.message button{
    box-shadow:none;
    background: #f5f5f5
}
.message button a
{
    display: block;
    width: 100%;
}
.message-bottom{
    
    position: absolute;
    padding:5px 8px;
    width: 96%;
    left:0px;
    bottom: 0;
   
    background: white;
} 
.message-bottom > div:first-child{
    display:flex;
    width: 100%; 
    align-item:center;
    margin: 0 auto;
} 
.message-bottom .input{
    flex-grow:2;
}
.message-bottom .mat-raised-button.mat-primary{
    min-width:66px;
    line-height:40px;
    height:40px;
    /* margin-top:1em; */
    margin-left:5px;
}

.message-main{
    margin-top:41px;
    padding-top:5px;
    padding: 5px 15px;
    margin-bottom:66px; 
}
.message-main .chat-list > div{
    display:flex;
}
.message-main .chat-list.left > div .avatar{
    flex-shrink:0;
    height:40px;
    width:40px;
    margin:5px 5px 0 0;
    border-radius:50%;
}
.message-main .chat-list.right > div .avatar{
    flex-shrink:0;
    height:40px;
    width:40px;
    margin:5px 0 0 5px;
    border-radius:50%;
}
.message-main .imgs{
    /* display: inline-block; */
    max-width:400px;
    min-width:100px;
    padding:5px;
}
.message-main .chat-list > div .text{
    margin: 8px 0;
    padding: 4px 8px;
    border-radius:10px;
    color:white;
    background: rgb(63, 81, 181);
    /* max-width: 85%;
    min-width: 25%; */
    box-sizing: content-box;
}
.message-main .chat-list.right > div{
    flex-direction:row-reverse
}
.message-main .chat-list > div p{
    margin: 5px;
}

.message-main .chat-list > div a{
    margin: 5px;
    display: block;
    color:rgb(63, 81, 181);
    text-decoration: rgb(63, 81, 181) underline;
}
.message-main .chat-list.right > div div .text{
    padding: 3px 7px;
    background: white;
    border: 1px solid rgb(63, 81, 181);
    color: black;
    box-sizing: content-box;
}
.message-main .chat-list.right > div div i{
    display: block;
    text-align: right
}

#updated{
    /* display: block; */
    line-height: 36px;
    height: 36px;
    /* width: 90px; */
    position: relative;
}
#updated input,#updated button{
    /* width: 90px; */
    line-height: 36px;
    position: absolute;
    display:inline-block;
    /* z-index: -1; */
}
#updated input{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    height: 36px;
    width: 100%;
}
#updated p{
    margin: 0;
    padding-left: 95px;
}


.eject {
    margin: 0 -24px;
}

.mat-accordion .mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
}