.op143-title{
    justify-content: space-between;  
    background: white;
    line-height: 1em;
    height: 38px;
    padding: 0;
}
.title{
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    padding-left: 10px
}
.op143-input{
    padding: 10px;
    padding-top: 0px;
}
.op143-input-width{
    width: 80%!important;
}
.border-bottom{
     border-bottom: #424242 solid 1px;
     margin: 20px 0;
}