<div class="message-window">
    <mat-grid-list cols="24" rowHeight={{height}}>
        <mat-grid-tile [colspan]='7' class="message-window-left">
            <div style='width:100%;'>
                <messages-component></messages-component>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]='17' class="message-window-right">
            <div style='width:100%;'>
                <message-component></message-component>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>