/* window 下 右侧菜单样式 */
.window .window-left .mat-figure{
display: block
}
.nav,.nav:hover{
    background-color: #555556!important;
   
}
.menu .mat-expansion-panel-body{
    padding: 0 ;
}
.nav .mat-expansion-indicator::after{
    border-color: #ce8d39!important;
}
/* 新闻 */
.news .mat-list-item-content{
    padding: 0!important;
    color: #ce8d39;
}
.news .mat-list-item-content a{
    color: white;
    text-decoration: none;
}



*::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
*::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px#cc8a4d;
    background:#cc8a4d;
}
*::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px white;
    border-radius: 0;
    background:white;
}