/* window 下 右侧菜单样式 */
.window .window-left .mat-figure{
display: block
}
.nav,.nav:hover{
    background-color: #555556!important;
   
}
.menu .mat-expansion-panel-body{
    padding: 0 ;
}
.nav .mat-expansion-indicator::after{
    border-color: #ce8d39!important;
}
/* 新闻 */
.news .mat-list-item-content{
    padding: 0!important;
    color: #ce8d39;
}
.news .mat-list-item-content a{
    color: white;
    text-decoration: none;
}